<div class="jumbotron">
  <h1>Ciao montagne!</h1>
  <p>La Sardegna al suo interno è formata da suggestive montagne e altopiani.</p>
  <img src=http://www.rejnaresidencehotel.it/images/montagne/big/gennargentu.jpg>
  <p>Spettacolare è il massiccio del Gennargentu che separa la Barbagia dall'Ogliastra.Le cime più elevate sono Punta La Marmora che raggiunge i 1840 metri, e Monte Spada con 1595 metri.</p>
  <img src=http://www.laltrasardegna.com/2008/e107_images/newspost_images/rio-forru-gemelle_big.jpg> <img src=http://www.sardegnaturismo.it/immagini/1_105_20090218132534.jpg>
</div>
</div>
