<div class="jumbotron">
  <h1>Ciao mare! </h1>
  <p>
  <font color=green>
  <i>Questo è la pagina dove viene descritta la Sardegna e la sua costa.</i> 
  </font>
  <p align=right>La Sardegna vista dal mare offre una costa varia, con una costante: un mare turchese incantevole.
  </p>
  <img src=http://www.nautica.it/charter/sardegna3.jpg>
  
  <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
</div>

<div class="page-header">
  <h1>Wells</h1>
</div>
<div class="well">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
</div>
